.search:hover {
    background: linear-gradient(195deg, #eca740 0%, #d8a61b 100%);
    color: white;
    border-radius: 5px;
}

.inputSearch {
    width: 14rem;
    z-index: 99999 !important;
    top: 8px;
    left: 7rem;
    background: white;
    border: 1px solid #d7d0d0;
    border-radius: 7px;
}

.modal-open {
    overflow: hidden !important;
}